@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf');
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf');
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf');
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@media only screen and (max-width: 1439px) {
  .wrapper {
    min-width: 1025px;
  }
  .wrapper header .inner {
    width: 890px;
  }
  .wrapper header .inner nav {
    margin-left: 8px;
  }
  .wrapper header .inner nav a {
    width: 120px;
  }
  .wrapper main .page_404 .inner {
    width: 890px;
  }
  .wrapper main .inet_desc .inner {
    width: 890px;
  }
  .wrapper main .check_address .inner {
    width: 890px;
  }
  .wrapper main .check_address .inner .inputs .item:nth-child(5) {
    margin-top: 40px;
  }
  .wrapper main .stocks .inner {
    width: 980px;
  }
  .wrapper main .stocks .inner .items .item .right_cnt img {
    width: 100%;
  }
  .wrapper main .stocks .inner .items .item:nth-child(1) {
    padding-top: 20px;
  }
  .wrapper main .stocks .inner .items .item:nth-child(1) .right_cnt {
    width: 170px;
    top: 116px;
    right: -10px;
  }
  .wrapper main .stocks .inner .items .item:nth-child(2) {
    padding-top: 20px;
  }
  .wrapper main .stocks .inner .items .item:nth-child(2) .right_cnt {
    width: 170px;
    top: 74px;
    right: 15px;
  }
  .wrapper main .stocks .inner .items .item:nth-child(3) {
    padding-top: 20px;
  }
  .wrapper main .stocks .inner .items .item:nth-child(3) .right_cnt {
    width: 170px;
    top: 92px;
    right: -1px;
  }
  .wrapper main .main_slider {
    background-image: none;
  }
  .wrapper main .main_slider .slides_count {
    left: 456px;
    top: 437px;
    margin-left: 0;
  }
  .wrapper main .main_slider .inner {
    background-image: url(../img/bg_slider.png);
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -106px auto 0;
    height: 760px;
    width: 100%;
    padding: 180px 30px 0 126px;
  }
  .wrapper main .main_slider .inner .slick-arrow {
    bottom: 274px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .title {
    font: 500 48px/52px "Ubuntu", Tahoma, sans-serif !important;
  }
  .wrapper main .main_slider .inner .slider .right_cnt {
    width: 600px;
    top: 10px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt img {
    width: 100%;
  }
  .wrapper main .main_slider .inner .slider .right_cnt.second {
    width: 400px;
    right: 22px;
    top: 22px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt.third {
    width: 430px;
    right: -28px;
    top: 40px;
  }
  .wrapper main .internet_home .inner {
    width: 890px;
  }
  .wrapper main .internet_home .inner .left_cnt {
    width: 340px;
  }
  .wrapper main .internet_home .inner .left_cnt img {
    width: 100%;
  }
  .wrapper main .internet_home .inner .right_cnt {
    margin-top: 60px;
    margin-left: 10px;
  }
  .wrapper main .internet_home .inner .right_cnt h2 {
    font: 500 36px/40px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_smart .inner {
    width: 890px;
  }
  .wrapper main .promo_smart .inner .left_cnt h2 {
    font: 500 36px/40px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_smart .inner .right_cnt {
    width: 340px;
    margin-left: 10px;
  }
  .wrapper main .promo_smart .inner .right_cnt img {
    width: 100%;
  }
  .wrapper main .promo_phone .inner {
    width: 890px;
  }
  .wrapper main .promo_phone .inner .left_cnt {
    width: 340px;
    vertical-align: top;
  }
  .wrapper main .promo_phone .inner .left_cnt img {
    width: 100%;
  }
  .wrapper main .promo_phone .inner .right_cnt {
    margin-left: 10px;
    margin-top: 20px;
  }
  .wrapper main .promo_phone .inner .right_cnt h2 {
    font: 500 36px/40px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner {
    width: 890px;
  }
  .wrapper main .calculator .inner .left_cnt {
    width: 20%;
  }
  .wrapper main .calculator .inner .right_cnt {
    width: 80%;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(2) {
    margin-left: 53px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(3) {
    margin-left: 55px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(4) {
    margin-left: 57px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(5) {
    margin-left: 56px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(6) {
    margin-left: 52px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .speed_scale {
    width: 390px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost {
    margin-left: 20px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost .numbers {
    font: 500 40px/40px "Ubuntu", Tahoma, sans-serif;
    padding: 18px 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost .numbers span {
    padding: 0 14px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .percent_scale {
    width: 390px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(2) {
    margin-left: 79px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(3) {
    margin-left: 77px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(4) {
    margin-left: 76px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(5) {
    margin-left: 76px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend {
    margin-left: 20px;
    width: 155px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend .top_cnt {
    padding: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend .bot_cnt {
    padding: 0 0 13px;
    font: 500 40px/50px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .scale .num_scale span:nth-child(2) {
    margin-left: 71px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .scale .num_scale span:nth-child(3) {
    margin-left: 70px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .scale .num_scale span:nth-child(4) {
    margin-left: 67px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .scale .num_scale span:nth-child(5) {
    margin-left: 67px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .scale .channels_scale {
    width: 390px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .cost {
    margin-left: 20px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .cost .numbers {
    font: 500 40px/40px "Ubuntu", Tahoma, sans-serif;
    padding: 18px 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(1) .cost .numbers span {
    padding: 0 14px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) {
    margin-top: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale {
    width: 580px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .title {
    margin-bottom: 14px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col {
    margin-top: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(1) a {
    position: absolute;
    left: 24px;
    bottom: 123px;
    width: 160px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) {
    width: 468px;
    padding: 10px 20px;
    margin-left: 100px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side {
    float: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .s_title {
    font: 400 16px/16px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 10px;
    display: inline-block;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .bot_cnt {
    margin-left: 10px;
    display: inline-block;
    font: 400 16px/22px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .bot_cnt a {
    display: inline-block;
    margin-left: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side {
    float: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i {
    float: none;
    display: inline-block;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i:nth-child(2) {
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i .item {
    display: inline-block;
    margin-left: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i .item:nth-child(1) {
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(2) .line:nth-child(2) .scale .cols .col .check {
    margin: 12px 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .title_wide {
    margin-bottom: 20px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .scale .num_scale span:nth-child(2) {
    margin-left: 71px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .scale .num_scale span:nth-child(3) {
    margin-left: 70px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .scale .num_scale span:nth-child(4) {
    margin-left: 67px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .scale .num_scale span:nth-child(5) {
    margin-left: 67px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .scale .percent_scale_phone {
    width: 390px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .cost {
    margin-left: 20px;
    margin-top: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .cost .numbers {
    font: 500 40px/40px "Ubuntu", Tahoma, sans-serif;
    padding: 18px 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(1) .cost .numbers span {
    padding: 0 14px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) {
    margin-top: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale {
    width: 580px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .title {
    margin-bottom: 14px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col {
    margin-top: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(1) a {
    position: absolute;
    left: 24px;
    bottom: 123px;
    width: 160px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) {
    width: 468px;
    padding: 10px 20px;
    margin-left: 100px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side {
    float: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .s_title {
    font: 400 16px/16px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 10px;
    display: inline-block;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .bot_cnt {
    margin-left: 10px;
    display: inline-block;
    font: 400 16px/22px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .left_side .bot_cnt a {
    display: inline-block;
    margin-left: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side {
    float: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i {
    float: none;
    display: inline-block;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i:nth-child(2) {
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i .item {
    display: inline-block;
    margin-left: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col:nth-child(4) .right_side .col_i .item:nth-child(1) {
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(3) .line:nth-child(2) .scale .cols .col .check {
    margin: 12px 0;
  }
  .wrapper main .advantages .inner {
    width: 890px;
  }
  .wrapper main .advantages .inner h2 {
    font: 700 50px/50px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .advantages .inner .items {
    width: 890px;
  }
  .wrapper footer .inner {
    width: 890px;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(2) {
    width: 38%;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(2) .sub:nth-child(2) {
    margin-left: 60px;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(3) {
    width: 29%;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(4) {
    width: 16%;
  }
  .wrapper footer .inner .bot_cnt {
    padding-left: 152px;
  }
}
@media only screen and (max-width: 1025px) {
  .wrapper {
    min-width: 769px;
  }
  .wrapper header .inner {
    width: 100%;
    padding: 20px;
  }
  .wrapper header .inner .logo {
    position: relative;
    z-index: 1;
  }
  .wrapper header .inner nav {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    margin-left: 0;
    padding: 86px 0 100px;
  }
  .wrapper header .inner nav.active {
    display: block;
  }
  .wrapper header .inner nav a {
    display: table;
    margin: 0 auto;
  }
  .wrapper header .inner nav a:after {
    display: none;
  }
  .wrapper header .inner .phone {
    display: none;
    float: none;
    position: absolute;
    bottom: -246px;
    left: 50%;
    margin-left: -66px;
  }
  .wrapper header .inner .phone.active {
    display: block;
  }
  .wrapper header .inner .burger {
    display: block;
  }
  .wrapper main .page_404 .inner {
    width: 100%;
  }
  .wrapper main .inet_desc .inner {
    width: 100%;
  }
  .wrapper main .check_address .inner {
    width: 100%;
  }
  .wrapper main .check_address .inner .desc {
    width: 100%;
    padding: 36px 40px 56px;
  }
  .wrapper main .check_address .inner .desc br {
    display: none;
  }
  .wrapper main .stocks .inner {
    width: 100%;
    position: relative;
  }
  .wrapper main .stocks .inner .slides_count {
    display: block;
    position: absolute;
    top: 177px;
    left: 50%;
    z-index: 10;
    color: #d5d5d5;
    margin-left: -20px;
  }
  .wrapper main .stocks .inner .slides_count span {
    display: inline-block;
    vertical-align: middle;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(1) {
    font: 500 34px/34px "Ubuntu", Tahoma, sans-serif;
    padding-right: 6px;
    color: #ff811c;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(2) {
    font: 500 14px/14px "Ubuntu", Tahoma, sans-serif;
    padding-left: 12px;
    position: relative;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(2):before {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #d5d5d5;
    left: 0;
    top: 0;
  }
  .wrapper main .stocks .inner .items {
    width: 400px;
    margin: 0 auto;
  }
  .wrapper main .stocks .inner .items .slick-arrow {
    position: absolute;
    top: -60px;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px #cdcdcd solid;
    background-color: transparent;
    z-index: 10;
    outline: none;
  }
  .wrapper main .stocks .inner .items .slick-arrow:hover {
    border-color: #ff8e26;
  }
  .wrapper main .stocks .inner .items .slick-arrow:hover:before {
    background-image: url(../img/arr_mini_orange.png);
  }
  .wrapper main .stocks .inner .items .slick-arrow:before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/arr_mini.png);
    width: 8px;
    height: 13px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-prev {
    left: 0;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-prev:before {
    margin-left: -5px;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-next {
    right: 0;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-next:before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-left: -4px;
  }
  .wrapper main .stocks .inner .items .item {
    margin-top: 15px;
  }
  .wrapper main .stocks .inner .items .slick-track {
    height: 280px;
  }
  .wrapper main .stocks .inner .items .slick-slide {
    margin: 0 15px;
  }
  .wrapper main .stocks .inner .items .slick-slide:nth-child(2) .right_cnt {
    top: 81px;
    right: 8px;
  }
  .wrapper main .stocks .inner .items .slick-slide:nth-child(3) .right_cnt {
    top: 99px;
    right: -12px;
  }
  .wrapper main .main_slider .slides_count {
    left: auto;
    right: 87px;
    top: 330px;
  }
  .wrapper main .main_slider .inner {
    padding: 130px 15px 0;
  }
  .wrapper main .main_slider .inner .slick-arrow {
    bottom: 384px;
  }
  .wrapper main .main_slider .inner .slick-arrow.slick-next {
    left: auto;
    right: 15px;
  }
  .wrapper main .main_slider .inner .slick-arrow.slick-prev {
    left: auto;
    right: 145px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .sub_title {
    margin-top: 18px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .bot {
    bottom: 310px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt {
    width: 400px;
    top: auto;
    bottom: 40px;
    right: 50%;
    margin-right: -200px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt.second {
    width: 340px;
    top: auto;
    bottom: -30px;
    right: 50%;
    margin-right: -200px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt.third {
    width: 340px;
    top: auto;
    bottom: -30px;
    right: 50%;
    margin-right: -200px;
  }
  .wrapper main .internet_home .inner,
  .wrapper main .promo_phone .inner {
    width: 100%;
    margin: 0;
  }
  .wrapper main .internet_home .inner .left_cnt,
  .wrapper main .promo_phone .inner .left_cnt,
  .wrapper main .internet_home .inner .right_cnt,
  .wrapper main .promo_phone .inner .right_cnt {
    float: none;
  }
  .wrapper main .internet_home .inner .left_cnt,
  .wrapper main .promo_phone .inner .left_cnt {
    margin: 0 auto;
  }
  .wrapper main .calculator .inner {
    width: 100%;
  }
  .wrapper main .calculator .inner .left_cnt {
    float: none;
    width: 100%;
  }
  .wrapper main .calculator .inner .left_cnt a {
    width: 33%;
    float: left;
  }
  .wrapper main .calculator .inner .left_cnt a.active {
    -webkit-box-shadow: 0px -45px 33px 33px rgba(4, 4, 4, 0.1);
            box-shadow: 0px -45px 33px 33px rgba(4, 4, 4, 0.1);
  }
  .wrapper main .calculator .inner .left_cnt a:nth-child(2) {
    width: 34%;
  }
  .wrapper main .calculator .inner .right_cnt {
    float: none;
    width: 100%;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) {
    position: relative;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost {
    position: absolute;
    right: 60px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) {
    position: relative;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend {
    position: absolute;
    right: 60px;
  }
  .wrapper main .advantages .inner {
    padding-top: 60px;
    width: 100%;
  }
  .wrapper main .advantages .inner h2 {
    font: 700 40px/40px "Ubuntu", Tahoma, sans-serif;
    letter-spacing: 20px;
    color: #e2e2e2;
    left: 50%;
    margin-left: -292px;
  }
  .wrapper main .advantages .inner .items {
    width: 100%;
  }
  .wrapper main .advantages .inner .items .item {
    width: 50%;
    text-align: center;
  }
  .wrapper main .advantages .inner .items .item .txt {
    margin: 26px auto 0;
  }
  .wrapper main .promo_smart .inner {
    width: 100%;
  }
  .wrapper main .promo_smart .inner .left_cnt,
  .wrapper main .promo_smart .inner .right_cnt {
    display: block;
  }
  .wrapper main .promo_smart .inner .left_cnt {
    margin-left: 15px;
  }
  .wrapper main .promo_smart .inner .right_cnt {
    margin: 30px auto 70px;
  }
  .wrapper footer .inner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    min-width: 320px;
  }
  .wrapper header .inner {
    padding: 12px 15px;
  }
  .wrapper header .inner .logo img {
    height: 30px;
  }
  .wrapper header .inner nav {
    padding: 70px 0 150px;
  }
  .wrapper header .inner nav a {
    font: 400 20px/20px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper header .inner .phone {
    bottom: -330px;
  }
  .wrapper header .inner .burger {
    right: 16px;
    top: 20px;
  }
  .wrapper main .page_404 {
    height: 550px;
    background-image: url(../img/404_bg_320.png);
  }
  .wrapper main .page_404 .inner {
    padding-top: 35px;
  }
  .wrapper main .page_404 .inner img {
    width: 183px;
  }
  .wrapper main .page_404 .inner h1 {
    font: 500 16px/16px "Ubuntu", Tahoma, sans-serif;
    margin: 26px 0;
  }
  .wrapper main .page_404 .inner a {
    width: 170px;
  }
  .wrapper main .page_404 .inner a img {
    width: auto;
  }
  .wrapper main .inet_desc .inner {
    padding-top: 57px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper main .inet_desc .inner h1 {
    font: 500 20px/20px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .inet_desc .inner p {
    font: 300 14px/18px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .inet_desc .inner p br {
    display: none;
  }
  .wrapper main .check_address .inner {
    margin-top: -40px;
    padding-top: 55px;
  }
  .wrapper main .check_address .inner h2 {
    font: 500 20px/20px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .check_address .inner p {
    margin-bottom: 78px;
  }
  .wrapper main .check_address .inner .inputs {
    text-align: center;
  }
  .wrapper main .check_address .inner .inputs .item:before {
    font: 300 14px/14px "Ubuntu", Tahoma, sans-serif;
    top: -22px;
    left: 7px;
  }
  .wrapper main .check_address .inner .inputs .item:nth-child(1) {
    width: 270px;
    display: table;
    margin: 0 auto;
  }
  .wrapper main .check_address .inner .inputs .item:nth-child(1) ul {
    left: 5px;
    background-color: #fff;
    width: 96.4%;
  }
  .wrapper main .check_address .inner .inputs .item:nth-child(2) {
    width: 270px;
    display: table;
    margin: 40px auto;
  }
  .wrapper main .check_address .inner .inputs .item:nth-child(5) {
    display: table;
    margin: 20px auto 0;
  }
  .wrapper main .check_address .inner .desc {
    padding: 36px 20px 56px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(1) .line:nth-child(1),
  .wrapper main .check_address .inner .desc .event:nth-child(1) .line:nth-child(2) {
    font: 500 14px/20px "Ubuntu", Tahoma, sans-serif;
    padding-left: 60px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(1) .line:nth-child(1):before,
  .wrapper main .check_address .inner .desc .event:nth-child(1) .line:nth-child(2):before {
    width: 44px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-repeat: no-repeat;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(1) .line:nth-child(1) {
    margin-bottom: 26px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(1),
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(1),
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(1) {
    margin-left: 0;
    font: 500 14px/20px "Ubuntu", Tahoma, sans-serif;
    padding-left: 60px;
    margin-bottom: 50px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(1):before,
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(1):before,
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(1):before {
    width: 44px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-repeat: no-repeat;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(2) .item,
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(2) .item,
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(2) .item {
    display: table;
    margin: 0 auto;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(2) .item input,
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(2) .item input,
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(2) .item input {
    width: 260px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(2) .item:nth-child(2),
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(2) .item:nth-child(2),
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(2) .item:nth-child(2) {
    display: table;
    margin: 40px auto 20px;
  }
  .wrapper main .check_address .inner .desc .event:nth-child(2) .line:nth-child(2) .item:nth-child(3) a,
  .wrapper main .check_address .inner .desc .event:nth-child(3) .line:nth-child(2) .item:nth-child(3) a,
  .wrapper main .check_address .inner .desc .event:nth-child(4) .line:nth-child(2) .item:nth-child(3) a {
    width: 260px;
    margin-left: 0;
  }
  .wrapper main .stocks .inner {
    padding-top: 54px;
  }
  .wrapper main .stocks .inner h2 {
    font: 500 20px/20px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 100px;
  }
  .wrapper main .stocks .inner .slides_count {
    top: 136px;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(1) {
    font: 500 25px/25px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(2) {
    font: 500 13px/13px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .stocks .inner .slides_count span:nth-child(2):before {
    height: 14px;
  }
  .wrapper main .stocks .inner .items {
    width: 300px;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-prev {
    left: 15px;
  }
  .wrapper main .stocks .inner .items .slick-arrow.slick-next {
    right: 15px;
  }
  .wrapper main .stocks .inner .desc .tab {
    width: 100%;
    font: 300 14px/18px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .main_slider .slides_count {
    display: none;
  }
  .wrapper main .main_slider .inner .slick-arrow {
    width: 50px;
    height: 50px;
    bottom: 467px;
  }
  .wrapper main .main_slider .inner .slick-arrow.slick-prev {
    right: 70px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .title {
    font: 500 25px/25px "Ubuntu", Tahoma, sans-serif !important;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .sub_title {
    font: 400 16px/16px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .bot {
    bottom: 390px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .bot .connect {
    height: 50px;
    font: 400 15px/48px "Ubuntu", Tahoma, sans-serif;
    width: 170px;
  }
  .wrapper main .main_slider .inner .slider .left_cnt .bot .connect:after {
    top: 3px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt {
    margin-right: -188px;
    width: 450px;
  }
  .wrapper main .main_slider .inner .slider .right_cnt.second {
    width: 300px;
    margin-right: -138px;
    bottom: 0;
  }
  .wrapper main .internet_home .inner .right_cnt {
    padding-top: 10px;
  }
  .wrapper main .internet_home .inner .right_cnt:before {
    font: 700 90px/90px "Ubuntu", Tahoma, sans-serif;
    top: -50px;
  }
  .wrapper main .internet_home .inner .right_cnt h2 {
    font: 500 25px/30px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .internet_home .inner .right_cnt .sub_title {
    width: 200px;
    font: 400 14px/18px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .internet_home .inner .right_cnt ul li {
    font: 300 14px/18px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 12px;
  }
  .wrapper main .internet_home .inner .right_cnt ul li:last-child {
    margin-bottom: 0;
  }
  .wrapper main .internet_home .inner .right_cnt a {
    height: 50px;
    font: 400 15px/48px "Ubuntu", Tahoma, sans-serif;
    width: 170px;
  }
  .wrapper main .internet_home .inner .right_cnt a:after {
    top: 3px;
  }
  .wrapper main .internet_home .inner .left_cnt {
    width: 290px;
    margin-top: 30px;
  }
  .wrapper main .calculator .inner .left_cnt a {
    height: 68px;
    padding: 38px 0 0 0;
    text-align: center;
    font: 500 12px/12px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .left_cnt a:nth-child(1):before,
  .wrapper main .calculator .inner .left_cnt a:nth-child(2):before,
  .wrapper main .calculator .inner .left_cnt a:nth-child(3):before {
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    top: 17px;
    left: 50%;
    margin-left: -14px;
  }
  .wrapper main .calculator .inner .right_cnt {
    padding-right: 15px;
    height: 550px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) {
    position: static;
    margin-bottom: 70px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) img {
    display: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale {
    width: 100%;
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .title {
    font: 400 16px/16px "Ubuntu", Tahoma, sans-serif;
    text-align: center;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .speed_scale {
    width: 100%;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .speed_scale .ui-slider-handle {
    margin-left: -16px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale {
    height: 22px;
    margin-bottom: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span {
    position: absolute;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(2) {
    left: 20%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(3) {
    left: 40%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(4) {
    left: 60%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:nth-child(5) {
    left: 80%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:first-child {
    left: 0;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .scale .num_scale span:last-child {
    margin: 0;
    left: 100%;
    margin-left: -16px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 0;
    width: 137px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(1) .cost .numbers span {
    padding: 0 11px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) {
    position: static;
    margin-top: 0px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) img {
    display: none;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale {
    width: 100%;
    margin-left: 0;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .title {
    font: 400 16px/16px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .percent_scale {
    width: 100%;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .percent_scale .ui-slider-handle {
    margin-left: -16px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale {
    height: 22px;
    margin-bottom: 10px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span {
    position: absolute;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(2) {
    left: 25%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(3) {
    left: 50%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:nth-child(4) {
    left: 75%;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:first-child {
    left: 0;
    margin-left: -12px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale .num_scale span:last-child {
    margin: 0;
    left: 100%;
    margin-left: -16px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale a {
    top: 136px;
    left: 50%;
    width: 170px;
    height: 50px;
    margin-left: -85px;
    font: 400 15px/48px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .scale a img {
    display: inline;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend {
    position: absolute;
    z-index: 1;
    bottom: 120px;
    right: 0;
    width: 137px;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend .top_cnt {
    font: 300 12px/12px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .calculator .inner .right_cnt .tab:nth-child(1) .line:nth-child(2) .calend .top_cnt sup {
    font-size: 16px;
  }
  .wrapper main .advantages .inner h2 {
    font: 700 28px/38px "Ubuntu", Tahoma, sans-serif;
    letter-spacing: 6px;
    margin-left: -150px;
  }
  .wrapper main .advantages .inner .items .item {
    width: 100%;
  }
  .wrapper main .promo_smart .inner .left_cnt {
    padding-top: 10px;
  }
  .wrapper main .promo_smart .inner .left_cnt:before {
    font: 700 90px/90px "Ubuntu", Tahoma, sans-serif;
    top: -50px;
  }
  .wrapper main .promo_smart .inner .left_cnt h2 {
    font: 500 25px/30px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_smart .inner .left_cnt .sub_title {
    width: 200px;
    font: 400 14px/18px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_smart .inner .left_cnt ul li {
    font: 300 14px/18px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 12px;
  }
  .wrapper main .promo_smart .inner .left_cnt ul li:last-child {
    margin-bottom: 0;
  }
  .wrapper main .promo_smart .inner .left_cnt a {
    height: 50px;
    font: 400 15px/48px "Ubuntu", Tahoma, sans-serif;
    width: 170px;
  }
  .wrapper main .promo_smart .inner .left_cnt a:after {
    top: 3px;
  }
  .wrapper main .promo_smart .inner .right_cnt {
    width: 290px;
    margin-top: 30px;
  }
  .wrapper main .promo_phone .inner {
    margin-bottom: 60px;
  }
  .wrapper main .promo_phone .inner .right_cnt {
    padding-top: 10px;
  }
  .wrapper main .promo_phone .inner .right_cnt:before {
    font: 700 90px/90px "Ubuntu", Tahoma, sans-serif;
    top: -50px;
  }
  .wrapper main .promo_phone .inner .right_cnt h2 {
    font: 500 25px/30px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_phone .inner .right_cnt .sub_title {
    width: 200px;
    font: 400 14px/18px "Ubuntu", Tahoma, sans-serif;
  }
  .wrapper main .promo_phone .inner .right_cnt ul li {
    font: 300 14px/18px "Ubuntu", Tahoma, sans-serif;
    margin-bottom: 12px;
  }
  .wrapper main .promo_phone .inner .right_cnt ul li:last-child {
    margin-bottom: 0;
  }
  .wrapper main .promo_phone .inner .right_cnt a {
    height: 50px;
    font: 400 15px/48px "Ubuntu", Tahoma, sans-serif;
    width: 170px;
  }
  .wrapper main .promo_phone .inner .right_cnt a:after {
    top: 3px;
  }
  .wrapper main .promo_phone .inner .left_cnt {
    width: 290px;
    margin-top: 30px;
  }
  .wrapper footer .inner .top_cnt .col {
    float: none;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(2) {
    width: 100%;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(3) {
    margin-top: 50px;
    width: 100%;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(4) {
    width: 100%;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(4) a:nth-child(1) {
    margin: 56px 0 12px;
  }
  .wrapper footer .inner .top_cnt .col:nth-child(4) a:nth-child(2):after {
    width: auto;
  }
  .wrapper footer .inner .bot_cnt {
    padding-left: 0;
  }
}
